[submodule "libs/Illias"]
	path = libs/Illias
	url = git@github.com:Vanaheimr/Illias.git
[submodule "libs/Styx"]
	path = libs/Styx
	url = git@github.com:Vanaheimr/Styx.git
[submodule "libs/Hermod"]
	path = libs/Hermod
	url = git@github.com:Vanaheimr/Hermod.git
[submodule "libs/BouncyCastle"]
	path = libs/BouncyCastle
	url = git@github.com:Vanaheimr/BouncyCastle.git
[submodule "libs/OverpassAPI"]
	path = libs/OverpassAPI
	url = git@github.com:GraphDefined/OverpassAPI.git
